/* Thème clair par défaut */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: #f0f0f0;
    --popup-bg: #ffffff;
    --bg-image: url('../img/bg_light.jpg');
}

/* Thème sombre */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --header-bg: #1e1e1e;
    --popup-bg: #1c1c1c;
    --bg-image: url('../img/bg_dark.jpg');
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s ease;
}